<h1> This is my Dynofile </h1>
<h1> This is node OS is: {{ansible_os_family}} </h1>
<h1> This is node IP Address is: {{ansible_all_ipv4_addresses}} </h1>
<h1> This is node java version is: {{myjavaonubuntu}} </h1>